@model IEnumerable<EdFi.Roster.Sdk.Models.EnrollmentComposites.LocalEducationAgency>

@{
    ViewData["Title"] = "Local Education Agencies";
    var leaResponseData = (ExtendedInfoResponse<List<LocalEducationAgency>>)ViewData["leaExtendedResponseInfo"];
}

<h1>Local Education Agencies</h1>
Operations

Load / Reload
<p> Get Local Education Agencies from the configured Ed - Fi API (This will overwrite the currently stored local education agencies)</p>

<div><button class="btn btn-primary btn" onclick="document.location.href='@Url.Action("LoadLeas")'">Get Local Education Agencies</button></div>

@if (leaResponseData != null)
{
    <div id="dvResultsRowLeas" class="row">
        <div class="col">
            <div>
                <span id="spTotalCallsLeas"></span>
                <div id="dvTotalRecordsRowLeas" class="row">
                    <div class="col">
                        Total API Calls: <span id="spTotalRecordsLeas">@(leaResponseData.Pages.Count)</span>
                    </div>
                </div>
                <div id="dvTotalRecordsRowLeas" class="row">
                    <div class="col">
                        Total Records Returned: <span id="spTotalRecordsLeas">@(leaResponseData.FullDataSet.Count)</span>
                    </div>
                </div>
                <input id="btnCallDetailsLeas" class="btn btn-link btn-xs pb-2 ml-2" type="button" data-toggle="collapse" data-target="#dvCallDetailsLeas" aria-expanded="false" aria-controls="collapseExample" value="Show call details">
            </div>
            <div id="dvCallDetailsLeas" class="collapse mt-1">
                <ul id="ulResultsLeas" class="list-group">
                    @for (int i = 0; i < leaResponseData.Pages.Count; i++)
                    {
                        <li class="list-group-item">
                            <div>Page @(i+1)  - Records Returned-@(leaResponseData.Pages[i].Data.Count).</div>
                            <div>Url:@(leaResponseData.Pages[i].ResponseUri.OriginalString)</div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
<hr />
<form>
    Current Local Education Agencies Saved
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LocalEducationAgencyId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameOfInstitution)
                </th>
                <th>
                    Api Resource Id
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalEducationAgencyId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameOfInstitution)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(DocumentReadyActivities);

        function DocumentReadyActivities() {
            $("[id^='btnCallDetails']").on('click', function () {
                var text = $(this).val();
                if (text === "Show call details") {
                    $(this).val('Hide call details');
                } else {
                    $(this).val('Show call details');
                }
            });
        }
    </script>
}


