@model IEnumerable<EdFi.Roster.Sdk.Models.EnrollmentComposites.Section>

@{
    ViewData["Title"] = "Sections";
    var sectionResponseData = (ExtendedInfoResponse<List<Section>>)ViewData["sectionExtendedResponseInfo"];

}

<h1>Sections</h1>

Operations

Load / Reload
<p> Get Sections From Ed - Fi Api (This will overwrite the currently stored section records)</p>

<div><button class="btn btn-primary btn" onclick="document.location.href='@Url.Action("LoadSections")'">Get Sections</button></div>

@if (sectionResponseData != null)
{
    <div id="dvResultsRow" class="row">
        <div class="col">
            <div>
                <span id="spTotalCalls"></span>
                <div id="dvTotalRecordsRow" class="row">
                    <div class="col">
                        Total API Calls: <span id="spTotalRecords">@(sectionResponseData.Pages.Count)</span>
                    </div>
                </div>
                <div id="dvTotalRecordsRow" class="row">
                    <div class="col">
                        Total Records Returned: <span id="spTotalRecords">@(sectionResponseData.FullDataSet.Count)</span>
                    </div>
                </div>
                <input id="btnCallDetails" class="btn btn-link btn-xs pb-2 ml-2" type="button" data-toggle="collapse" data-target="#dvCallDetails" aria-expanded="false" aria-controls="collapseExample" value="Show call details">
            </div>
            <div id="dvCallDetails" class="collapse mt-1">
                <ul id="ulResults" class="list-group">
                    @for (int i = 0; i < sectionResponseData.Pages.Count; i++)
                    {
                        <li class="list-group-item">
                            <div>Page @(i+1)  - Records Returned-@(sectionResponseData.Pages[i].Data.Count).</div>
                            <div>Url:@(sectionResponseData.Pages[i].ResponseUri.OriginalString)</div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
<hr />
<form>
    Current Sections Saved (@Model.Count() Records)
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LocalCourseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SectionIdentifier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocalCourseTitle)
                </th>
                <th>
                    Api Resource Id
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalCourseCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SectionIdentifier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalCourseTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
