@model ExtendedInfoResponse<List<Student>>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

Operations

Load / Reload
<p> Get Students From Ed - Fi Api (This will overwrite the currently stored student records)</p>
<div><button class="btn btn-primary btn" onclick="document.location.href='@Url.Action("LoadStudents")'">Get Students</button></div>
@if (Model.IsExtendedInfoAvailable)
{
    <div id="dvResultsRow" class="row">
        <div class="col">
            <div>
                <span id="spTotalCalls"></span>
                <div id="dvTotalRecordsRow" class="row">
                    <div class="col">
                        Total API Calls: <span id="spTotalRecords">@(Model.Pages.Count)</span>
                    </div>
                </div>
                <div id="dvTotalRecordsRow" class="row">
                    <div class="col">
                        Total Records Returned: <span id="spTotalRecords">@(Model.FullDataSet.Count)</span>
                    </div>
                </div>
            </div>
            <div>
                <table>
                    <tr class="parentrow">
                        <td style="text-align:justify">
                            <span class="sign btn btn-outline-primary" style="margin-right: 5px">Call Details </span>
                        </td>
                    </tr>
                    <tr class="childContent">
                        <td colspan="8">
                            <table class="footable-details table table-striped table-hover table-bordered table-responsive">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div style="max-height: 120px; overflow-y: scroll">
                                                <ul id="ulResultsLeas" class="list-group">
                                                    @for (int i = 0; i < Model.Pages.Count; i++)
                                                    {
                                                        <li class="list-group-item">
                                                            <div>Page @(i+1)  - Records Returned-@(Model.Pages[i].Data.Count).</div>
                                                            <div>Url:@(Model.Pages[i].ResponseUri.OriginalString)</div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr class="parentrow">
                        <td style="text-align:justify">
                            <span class="sign btn btn-outline-primary" style="margin-right: 5px">Full Content </span>
                        </td>
                    </tr>
                    <tr class="childContent">
                        <td colspan="8">
                            <table class="footable-details table table-striped table-hover table-bordered table-responsive">
                                <tbody>
                                    <tr><td><div style="max-height: 120px; overflow-y: scroll">@Model.ResponseData</div></td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
<hr />
<form>
    Current Students Saved (@Model.FullDataSet.Count Records)
    <table class="table">
        <thead>
            <tr>
                <th>StudentUniqueId</th>
                <th>FirstName</th>
                <th>LastSurname</th>
                <th>Api Resource Id</th>
                <th>Json Payload</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.FullDataSet)
        {
            <tr class="parentrow">
                <td>
                    @Html.DisplayFor(modelItem => item.StudentUniqueId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td style="text-align: justify">
                    <span class="sign btn btn-outline-primary" style="margin-right: 5px"></span>
                </td>
            </tr>
            <tr class="childContent">
                <td colspan="8">
                    <table class="footable-details table table-striped table-hover table-bordered table-responsive">
                        <tbody>
                        <tr>
                            <td id="jsondata">
                                <div style="max-height: 120px; overflow-y: scroll">@item.ToJson()</div></td></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>
